* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.modal-header {
    border-bottom: 0px!important;
        padding: 5px!important;
}
h4#myModalLabel {
    font-size:  40px;
    color: black;
}

.modal-body {
    position:  relative;
    padding: 30px;
}
video {
    width: 100%;
}

.modal-body {
    position:  relative;
    padding:  70px;
}

.modal-body #verito {
    padding:  0px!important;
}


html{

margin:0px;

height:100%;
width: 100%;

}
body{
  height: 100%;
  width:100%;
}
div#game {
    height: 100%!important;
}

canvas {
    width: 100%!important;
    height: 100%!important;
    margin: 0px;
}
div#verito {
    padding: 0px!important;
    padding-bottom: 24px!important;
}

.modalInstrucciones{
    width:100%; 
    height:100%; 
    background: rgba(0,0,0,.3);
    position:fixed;
    top:0;
    left:0;
    display:none;
}

.ventana{
    width:180px;
    height:180px;
    text-align:center;
    position:absolute;
    top:20%;
    left:-90px;
    margin-left:50%;
    }
    
.boton-cerrar{
  width:20px;
  padding:2px;
  background:#f00;
  color:#fff;
  float:right;
  font-weight:bold;
  font-family:Arial;
  cursor:pointer;
}



    .modal-header {
    padding: 15px;
    background-color: #0a3e5b;
  }
#instrucciones {
    width: 100%;
}
#cinco {
    width: 100%;
}
#cuatro {
    width: 100%;
}
#tres {
    width: 100%;
}
#dos {
    width: 100%;
}
#uno {
    width: 100%;
}
#valor {
    width: 100%;
}
#anciano{
  width: 100%;
}
#portada{
  width: 100%;
}

.modal-content {
    position: relative;
    background-color: #0a3e5b;
    
    
    
}
input[id="imgPortada"] {
    width: 180px;
}


.fullscreen-modal .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .fullscreen-modal .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .fullscreen-modal .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .fullscreen-modal .modal-dialog {
     width: 1170px;
  }
}
video#vid {
    width: 90%;
    text-align: center;
}
audio, canvas, progress, video {
    display: inline-flex;
    vertical-align: inherit;
}
/*
body{
  /*ruta de la imagen/*/
  /*background-image: url(assets/textosUno/portada.png);

  /*centrar imagen*/
  /*background-position: center center;

  background-repeat: no-repeat;

  /*imagen fija*/
 /* background-attachment: fixed;

  /*la imagen se rescala cuando se cambia el ancho de la ventana del navegador*/
  /*background-size: cover;

  /*fijamos color de fondo mientras carga la imagen*/
  /*background-color: #0a3e5b;

}
@media only screen and(max-width: 767px){
  body{
    background-image: url(assets/textosUno/portada.png);
  }
}*/